#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  font-family: Roboto;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #FFF5E5;
}

table, tr {
    border-left: none;
    border-right: none;
}


